body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    background-color: #ffff;
    font-size: 20px;
}

.container {
    background-color: #6c6969;
    padding: 25px 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Styles for function change background color */
.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-pink {
    background-color: pink;
}